@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Muhammad Junaid<br />
</address>
<address>
    <strong>E:</strong>   <a href="mailto:mjunaid84@outlook.com">mjunaid84@outlook.com</a><br />
</address>